body{
  background-color: rgb(26, 28, 24);
}
#main-text{
  color: rgb(227, 232, 223);
  text-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}
#char-input{
width: 50px;
height: 50px;
border-radius: 20px;
}
#start-macro{
  text-align: center;
  align-items: center;
  display: flex;
  margin-left: 42%;
  margin-top: 45%;
  border-radius: 15px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  box-shadow: rgba(236, 236, 236, 0.2) 0px 2px 8px 0px;
}
#container{
  background-color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 50%;
  margin-left: 25%;
  border-radius: 25px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 8px 0px;
}
.char-input{
  padding: 3px;
  margin: 5px;
}
#btns{
  background-color: white;
  width: 100px;
  height: 150px;
  margin-top: -30%;
  display: block;
}
.choosebtn{
  flex-direction: column-reverse;
}
.radioLabels{
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

